[submodule "src/plugins/wolfram2desmos"]
	path = src/plugins/wolfram2desmos
	url = https://github.com/Heavenira/wolfram2desmos
[submodule "src/plugins/find-replace"]
	path = src/plugins/find-replace
	url = https://github.com/jared-hughes/desmodder-find-replace
[submodule "src/plugins/gif-creator"]
	path = src/plugins/video-creator
	url = https://github.com/jared-hughes/desmodder-video-creator.git
[submodule "src/plugins/right-click-tray"]
	path = src/plugins/right-click-tray
	url = https://github.com/SlimRunner/right-click-tray.git
