.dsm-text-editor-container {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column: 1/2;
}

.dsm-in-text-mode {
  // used for cqw unit in footerWidget.less: .dsm-tm-footer-wrapper
  container-type: size;

  .dcg-ticker,
  .dcg-exppanel {
    display: none;
  }
}

.cm-tooltip {
  /* Tooltip position is miscalculated by the same height as the 42 px header */
  transform: translateY(-42px);
}

.cm-lineNumbers {
  // This should only come into play with debug mode. Long IDs like `**dcg_geo_folder**`
  max-width: 80px;
  overflow-x: scroll;
}
