.dcg-container .dsm-settings-container .dcg-dropdown-popover__interior {
  padding: 10px;

  .dcg-component-checkbox {
    margin-top: 0;
  }
}

.dsm-settings-container {
  line-height: normal;
  width: 290px;
}

.dcg-narrow {
  .dsm-settings-container {
    width: 260px;
  }
}
