@font-face {
  font-family: "dsm-icons";
  src: url("./dsm-icons.woff?7audmw") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="dsm-icon-"],
[class*=" dsm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "dsm-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dsm-icon-magic:before {
  content: "\e900";
}
.dsm-icon-compass2:before {
  content: "\e94a";
}
.dsm-icon-folder-minus:before {
  content: "\e902";
}
.dsm-icon-folder-plus:before {
  content: "\e903";
}
.dsm-icon-desmodder:before {
  content: "\e904";
}
.dsm-icon-bookmark:before {
  content: "\e901";
}
.dsm-icon-pie-chart:before {
  content: "\e99a";
}
