.gif-creator-select-export-type {
  margin-top: 5px;
  margin-bottom: 10px;
}

.gif-creator-capture-menu, .gif-creator-preview-menu {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.gif-creator-export {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.gif-creator-export .gif-creator-fps-settings span.dcg-mq-editable-field.dcg-math-input {
  margin-left: 8px;
}

.gif-creator-preview-play {
  display: flex;
  flex-direction: row-reverse;
}
