.dsm-plugin-section,
.dsm-category-section {
  border-top: 1px solid #e2e2e2;
}

.dsm-category-section:nth-child(2) {
  border: none;

  .dsm-category-header {
    margin-top: -8px;
  }
}

.dsm-category-section:last-child {
  .dsm-category-header:not(.dsm-expanded) {
    padding-bottom: 5px;
  }
}

.dsm-plugin-section {
  padding: 10px 0 10px 25px;
}

.dsm-category-header {
  padding: 11px 0 13px;
}

.dsm-plugin-title-bar {
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .dcg-toggle-view {
    margin-top: 0;
  }
}

.dsm-plugin-header,
.dsm-category-header {
  cursor: pointer;
  display: flex;
  margin-right: 10px;
  align-items: center;
  flex: 1;

  .dsm-caret-container {
    transform: rotate(-90deg);
    transition: transform 200ms;
    color: #999;
    margin-right: 10px;

    &.dsm-caret-expanded {
      transform: rotate(0deg);
    }
  }
}

.dsm-plugin-section,
.dsm-category-header.dsm-expanded {
  position: relative;

  &::after {
    position: absolute;
    left: 8px;
    bottom: 5px;
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    animation: dcg-fadeIn 0.3s;
  }
}

.dsm-category-header.dsm-expanded::after {
  top: 30px;
}

.dsm-plugin-section::after {
  top: 5px;
}

.dsm-plugin-info-body {
  padding: 5px 0;
  color: #444;

  a {
    color: var(--dsm-primary-color);
  }
}

.dsm-settings-item {
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  &:not(.dsm-settings-boolean) label {
    padding-inline: 0.5em;
    white-space: nowrap;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
  }

  .dsm-reset-btn {
    opacity: 0.6;
    flex: 1;
    text-align: right;
  }

  .dcg-tooltip-hit-area-container {
    // Desmos uses important, so we must use important to override it
    cursor: pointer !important;
  }
}
