.dcg-no-graphpaper {
  .dcg-overgraph-pillbox-elements,
  .desmodder-pillbox-buttons {
    display: flex;
    flex-direction: row-reverse;
  }

  .desmodder-pillbox-buttons > * {
    margin-right: 6px;
  }
}
